:root {
  --full-block-width: 984px;
  --half-block-width: calc(
    var(--full-block-width) / 2 - var(--half-block-gutter)
  );
  --half-block-gutter: 24px;
}

.block-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, var(--full-block-width)));
  column-gap: var(--half-block-gutter);
  row-gap: var(--half-block-gutter);
}

.block {
  background-color: white;
  outline: red 1px solid;
}

.block--full {
  grid-column: 1/-1;
}

.block--full:first-child {
  margin-bottom: 50px;
}

@media (max-width: 984px) {
  .block-layout {
    grid-template-columns: 1fr;
  }
}
