.page {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: var(--full-block-width);
}

.page-container {
  display: flex;
  justify-content: center;
  margin-left: var(--spacing-grid-size--x8);
  margin-right: var(--spacing-grid-size--x8);
}

.cover-image {
  max-width: 990px;
  margin-top: var(--spacing-grid-size--x6);
}

.home-title {
  align-self: flex-end;
}

.color-box {
  --size: 30px;
  --border-radius: 15%;
  height: var(--size);
  width: var(--size);
  background-color: var(--color-brand-hooloovoo);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.color-box.hooloovoo {
  background-color: var(--color-brand-hooloovoo);
}

