.sidebar .ax-input__icon-container {
  border-style: none none solid none;
}

.sidebar {
  --side-bar-padding-sides: var(--spacing-grid-size--x6);
  grid-area: "sidebar";
  grid-row: 2 / -1;
  color: var(--color-theme-day-text);
  border-right: 1px solid var(--color-theme-border);
}

.sidebar__search-container {
  padding-top: var(--spacing-grid-size--x4);
  padding-left: var(--side-bar-padding-sides);
  padding-right: var(--side-bar-padding-sides);
}

.sidebar__links {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}

.sidebar__link {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  color: var(--color-theme-day-text);
  text-decoration: none;
  display: block;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: var(--side-bar-padding-sides);
  padding-right: var(--side-bar-padding-sides);
}

.sidebar__link:visited {
  color: inherit;
}


.sidebar__links > li:hover:first-child {
  cursor: pointer;
  background-color: var(--color-theme-background--hover);
}

.sidebar__link--active {
  border-left: 6px solid var(--color-ui-accent--active);
}

.sidebar__link--active {
  padding-left: calc(var(--side-bar-padding-sides) - 6px);
}

.sidebar__link--active > p {
  color: var(--color-ui-accent--active);
}
