:root{
  --topbar-height: 64px;
}

.topbar {
  height: var(--topbar-height);
  grid-area: topbar;
  display: flex;
  align-items: center;
  padding-left: var(--spacing-grid-size--x6);
  border-bottom: 1px solid var(--color-theme-border);
}

.topbar__logo {
  margin-right: var(--spacing-grid-size--x4);
}

.topbar__heading {
  margin-top: 0;
}

.topbar__link {
  display: flex;
  text-decoration: none;
}
